<div class="container">
  <div class="row">
<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class='messages' data-conversation-id="<%= params[:conversation_id]%>">
  <%= render @conversation.messages %>
</div>

<%= form_for [@conversation, Message.new], html: {class: 'ui reply form'} do |f| %>
   <%= hidden_field_tag 'conversation_id', params[:conversation_id] %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>
 <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
 <div>
   <%= f.submit 'Add Reply', class: 'ui blue labeled submit icon button' %>
 </div>

<% end %>

</div>
</div>
