<div class="container">
	<div class="row">
		<% if @over_ten %>
			<%= link_to 'Show Previous', '?m=all' %>
		<% end %>

		<div class='messages' data-conversation-id="<%= params[:conversation_id]%>">
			<%= render @conversation.messages %>
		</div>

		<%= text_field_tag :content, nil, required: true, class: 'form-control form-block', placeholder: "Type a message..." %>

		<button id="send-content" type="button">Send</button>
	</div>
</div>

<script>
$(function () {
	var conversationId = <%= @conversation.id %>;
	var userId = <%= current_user.id %>;
	$('#send-content').click(function (evt) {
		var content = $('#content').val();
		console.log('hello', content);
		App.global_chat.send_message(content,conversationId);
	});
});

</script>