<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-md-10">      
      <%= f.text_field :title, placeholder: 'What do you want to ask?', class: 'form-control' %>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-md-12">
      <%= f.text_area :content, placeholder: 'Give us more details, so that we can give you the best answer...', rows: '10', class: 'form-control' %>
    </div>  
  </div>

  <div class="row">
    <div class="field col-md-10">
      <%= f.text_field :location, placeholder: 'Location...', class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field 'user_id', value: current_user.id %>
  <div class="row">
    <div class="actions col-md-5">
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
