<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 ">
    <%= form_tag(experiences_path, :method => "get", id: "search-form", class: 'form-inline') do %>
      <%= text_field_tag :search, params[:search], size: '40', placeholder: "What is your problem?", class: 'form-control search-input' %>
      <%= submit_tag "Search", class: 'form-control btn btn-primary' %>
    <% end %>
  </div>

    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Rating', experiences_path(sort:'rating DESC'), class: "dropdown-item" %>
        </div>
      </div>
    </div>
</div>
<div class="row list-experiences">
  <% @experiences.each do |experience| %>
    <div class="card">
      <div class="card-block">
        <%= link_to experience.title, experience_path(experience.id), class: 'card-title lead' %>
        <div class="card-subtitle text-muted small">Posted at: <%= experience.created_at %> | Posted by: <% if experience.user %>
          <%= link_to experience.user.display_name, user_profile_path(:id =>experience.user.id) %>
          <% unless experience.user.id == current_user.id %>
              (<%= link_to conversations_path(sender_id: current_user.id, recipient_id: experience.user.id), method: 'post', class:"" do %>
                <span class="menu-icon fa fa-comments"></span> <%= (t('btn.send_messages'))%>
              <%end %>)
            <% end %>
            
          <% end %> 
          <div class=""><% (1..experience.rating.to_i).each do
        %>
              <i class="fa fa-star star-score"></i>
            <% end %>
          </div>         
        </div>
      </div>    
      
      <div class="card-block">
        <div class="card-text"><%= experience.content[0..200] + (experience.content.length > 200 ? '...' : '').to_s %>
          <% if experience.content.length > 200 %>
            <%= link_to 'See more', experience_path(experience.id) %>
          <% end %>
        </div>
        <div class="row experience-image-row">
          <% experience.photos.each do |photo| %>
            
              <div class="col-md-3 experience-image-col">
                <img src= "<%= photo.avatar %>" class="experience-image">    
              </div>
            
          <% end %>
        </div>        
      </div>
    </div>
  <% end %>
</div>