<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <div class="row">
    <div class="col-md-12 ">
      <%= form_tag(experiences_path, :method => "get", id: "search-form", class: 'form-inline') do %>
        <%= text_field_tag :search, params[:search], size: '50', placeholder: "What is your problem?", class: 'form-control search-input' %>
        <%= submit_tag "Search", class: 'form-control' %>
      <% end %>
    </div>

    <%= link_to 'New Experience', new_experience_path %>
    </div>
    <% @experiences.each do |experience| %>
      <div class="card">
        <div class="card-block">
          <%= link_to experience.title, experience_path(experience.id), class: 'card-title lead' %>
          <div class="card-subtitle text-muted small">Posted at: <%= experience.created_at %></div>
        </div>    
        
        <div class="card-block">
          <div class="card-text"><%= experience.content %></div>
          <div class="row experience-image-row">
            <% experience.photos.each do |photo| %>
              
                <div class="col-md-6 experience-image-col">
                  <img src= "<%= photo.avatar %>" class="experience-image">    
                </div>
              
            <% end %>
          </div>        
        </div>
      </div>
    <% end %>
  </div>
</div>
